#body {background-color: #e6ebed;
width: 40%;
margin-left: auto;
margin-right: auto;
}

header{color: #202b63;
text-align: center;
width: 100%;
}

div.tableauPlaceholder{align: center;
}



h1{text-align: center;
color: e6ebed;
}

p.select {
}

ul {list-style-type: none;
text-align: center;
}

ul li {float: left;
width: 10em;
margin-bottom: 10px;
}



.error {color: red;}
.message {color: #202b63;}

table {border-collapse: collapse; margin: 10px; 
}

table, tr, th, td {border: 1px solid #000; 
}

footer {font-size:8px;
color: #202b63;
border-top: 1px solid #202b63;
text-align: center;
width:100%;
margin-top: 15px;
position: fixed;
bottom: 0;
}

